<p><a href="/">戻る</a></p>

<% if @users %>
  <% @users.each do |user| %>
    <span><%= link_to '@' + user['screen_name'], 'https://twitter.com/' + user['screen_name'], :target => '_blank' %></span>
    <input class="unfollow" type="button" name="<%= user['screen_name'] %>" value="フォロー解除">
    <br>
  <% end %>
<% else %>
  <p>ユーザは存在しません</p>
<% end %>
